//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 15 02:57:03 2017
//! **************************************************************************

SCHEMATIC START;
COMP "RCLK" LOCATE = SITE "V10" LEVEL 1;
COMP "RCLR" LOCATE = SITE "C9" LEVEL 1;
COMP "PC<0>" LOCATE = SITE "M11" LEVEL 1;
COMP "PC<1>" LOCATE = SITE "N11" LEVEL 1;
COMP "PC<2>" LOCATE = SITE "R11" LEVEL 1;
COMP "PC<3>" LOCATE = SITE "T11" LEVEL 1;
COMP "DATA<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "DATA<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "DATA<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "DATA<3>" LOCATE = SITE "V15" LEVEL 1;
SCHEMATIC END;

