//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 13 20:13:02 2017
//! **************************************************************************

SCHEMATIC START;
COMP "RCLK" LOCATE = SITE "E3" LEVEL 1;
COMP "RCLR" LOCATE = SITE "V10" LEVEL 1;
COMP "DATA<1>" LOCATE = SITE "U17" LEVEL 1;
COMP "DATA<2>" LOCATE = SITE "V17" LEVEL 1;
COMP "DATA<3>" LOCATE = SITE "R18" LEVEL 1;
COMP "DATA<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "DATA<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "DATA<5>" LOCATE = SITE "J13" LEVEL 1;
COMP "DATA<6>" LOCATE = SITE "K15" LEVEL 1;
COMP "DATA<7>" LOCATE = SITE "H17" LEVEL 1;
COMP "PC<0>" LOCATE = SITE "V11" LEVEL 1;
COMP "PC<1>" LOCATE = SITE "V12" LEVEL 1;
COMP "PC<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "PC<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "PC<4>" LOCATE = SITE "T16" LEVEL 1;
COMP "PC<5>" LOCATE = SITE "U14" LEVEL 1;
COMP "PC<6>" LOCATE = SITE "T15" LEVEL 1;
COMP "PC<7>" LOCATE = SITE "V16" LEVEL 1;
SCHEMATIC END;

