NET "RCLK" LOC = E3;
NET "RCLR" LOC = V10;

NET "DATA[7]" LOC = H17;
NET "DATA[6]" LOC = K15;
NET "DATA[5]" LOC = J13;
NET "DATA[4]" LOC = N14;
NET "DATA[3]" LOC = R18;
NET "DATA[2]" LOC = V17;
NET "DATA[1]" LOC = U17;
NET "DATA[0]" LOC = U16;
NET "PC[7]" LOC = V16;
NET "PC[6]" LOC = T15;
NET "PC[5]" LOC = U14;
NET "PC[4]" LOC = T16;
NET "PC[3]" LOC = V15;
NET "PC[2]" LOC = V14;
NET "PC[1]" LOC = V12;
NET "PC[0]" LOC = V11;

# PlanAhead Generated IO constraints 

NET "DATA[7]" IOSTANDARD = LVCMOS33;
NET "DATA[6]" IOSTANDARD = LVCMOS33;
NET "DATA[5]" IOSTANDARD = LVCMOS33;
NET "DATA[4]" IOSTANDARD = LVCMOS33;
NET "DATA[3]" IOSTANDARD = LVCMOS33;
NET "DATA[2]" IOSTANDARD = LVCMOS33;
NET "DATA[1]" IOSTANDARD = LVCMOS33;
NET "DATA[0]" IOSTANDARD = LVCMOS33;
NET "PC[7]" IOSTANDARD = LVCMOS33;
NET "PC[6]" IOSTANDARD = LVCMOS33;
NET "PC[5]" IOSTANDARD = LVCMOS33;
NET "PC[4]" IOSTANDARD = LVCMOS33;
NET "PC[3]" IOSTANDARD = LVCMOS33;
NET "PC[2]" IOSTANDARD = LVCMOS33;
NET "PC[1]" IOSTANDARD = LVCMOS33;
NET "PC[0]" IOSTANDARD = LVCMOS33;
NET "RCLK" IOSTANDARD = LVCMOS33;
NET "RCLR" IOSTANDARD = LVCMOS33;
