NET "RCLK" LOC = V10;
NET "RCLR" LOC = C9;

NET "DATA[3]" IOSTANDARD = LVCMOS33;
NET "DATA[2]" IOSTANDARD = LVCMOS33;
NET "DATA[1]" IOSTANDARD = LVCMOS33;
NET "DATA[0]" IOSTANDARD = LVCMOS33;
NET "PC[3]" IOSTANDARD = LVCMOS33;
NET "PC[2]" IOSTANDARD = LVCMOS33;
NET "PC[1]" IOSTANDARD = LVCMOS33;
NET "PC[0]" IOSTANDARD = LVCMOS33;
NET "RCLK" IOSTANDARD = LVCMOS33;
NET "RCLR" IOSTANDARD = LVCMOS33;


NET "PC[3]" LOC = T11;
NET "PC[2]" LOC = R11;

# PlanAhead Generated physical constraints 

NET "PC[1]" LOC = N11;
NET "PC[0]" LOC = M11;
NET "DATA[3]" LOC = V15;
NET "DATA[2]" LOC = U15;
NET "DATA[1]" LOC = V16;
NET "DATA[0]" LOC = U16;
